.idea/
.vs/
.vscode/
build/
node_modules/
src/config/*.yaml

.env
dotenv
*.proxies
success-*.png

*.wav
*.mp3
*.flac
*.exe
desktop.ini

twitch.json
Backup Types/dotenv - 3080
Backup Types/dotenv - 6800xt
Backup Types/dotenv - 6900xt
Backup Types/dotenv 3080 2
Backup Types/dotenvBAK
Backup Types/new 3
